$heading-size: 18px;
$medium: 16px;
$normal: 14px;
$small: 12px;
$smaller: 10px;
$x-smaller: 8px;

$text-color: #505050;
$span-color: #265781;
$back-color-green: #52B27B;
$back-color-yellow: #F2E162;
$back-popup-black: rgb(0,0,0);
$back-popup-grey: rgba(0,0,0,0.4);
$heading-color: rgba(112,105,96,0.1);
$subheading-color: #706960;
$button-text-color: #272727;
$sub-btn-color: #393939;
$btn-shadow: #f2e162b3;

